{
    log {
        level DEBUG
    }

    debug
}

:8080 {
    log {
        level DEBUG
        output stdout
    }

    @downloads {
        path /downloads/*
        signed_url {
            secret "secret-key"
            algorithm "sha256"

            # To bind a cookie to the signed URL, uncomment the following line and specify the cookie name.
            # bind_cookie "download_token"
        }
    }

    handle @downloads {
        file_server {
            root examples/caddy
        }
    }

    handle { 
        root ./public
        try_files {path} /index.html
        file_server browse
    }
}
